html, body, #root {
  height: 100%;
}

.content {

  flex: 20;
  padding: 10px;
}

.topbar {
  flex-grow: 0;
  display: none;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}