html,body{
  width:100vw;
  height:100vh;
}

#cocina{

  width:100vw;
  height:100vh;
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.current{
  flex:3;
  font-size: 2em;
  font-weight: bold;
  border:black 1px solid;
  padding:30px;
}
.previous{
  border:blue 1px solid;
  flex:2;
  height:100%;
}
.next{
  height:100%;
  border:blue 1px solid;
  flex:2;
}
